<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Liste des déclaration</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="/includes/styles.css" rel="stylesheet">
    </head>
<body>
    <div style="background-color: rgb(190, 190, 190); top: 0px; width: 100%;">
        <br>
        <h1 style="margin-left: 30px;">Liste des déclarations</h1>
        <a th:href="@{ 'MenuApplication'}" class="btn btn-primary return-button" style=" margin-top: -50px;">Revenir au menu</a>
        <br>
    </div>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>Référence Dossier</th>
                <th>Statut</th>
                <th>Intitulé</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>Type Transport</th>
                <th>Lieu de Départ</th>
                <th>Montant Transport</th>
                <th>Facture Transport</th>
                <th>Type Hébergement</th>
                <th>Montant Hébergement</th>
                <th>Facture Hébergement</th>
                <th>Coordonnées Bancaires</th>
                <th>Restaurations</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="declaration : ${listOfDeclarations}">
                <td th:text="${declaration.refDossier}"></td>
                <td><span>Statut actuel:</span><br><span th:text="${declaration.statut}"></span></td> 
                <td th:text="${declaration.intitule}"></td>
                <td th:text="${#dates.format(declaration.date, 'dd-MM-yyyy')}"></td>
                <td th:text="${declaration.lieu}"></td>
                <td th:text="${declaration.typeTransport}"></td>
                <td th:text="${declaration.lieuDepart}"></td>
                <td th:text="${declaration.montant_transport} + ' €'"></td>
                <td th:text="${declaration.nom_fichier_transport}"></td>
                <td th:text="${declaration.type_hebergement}"></td>
                <td th:text="${declaration.montant_hebergement} + ' €'"></td>
                <td th:text="${declaration.nom_fichier_hebergement}"></td>
                <td th:text="${declaration.coordonneesbancaires}"></td>       

                <td>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Date Resto</th>
                                <th>Repas</th>
                                <th>Montant Resto</th>
                                <th>Nom Fichier Resto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="restauration : ${declaration.restaurationList}">
                                <td th:text="${#dates.format(restauration.date_resto, 'dd-MM-yyyy')}"></td>
                                <td th:text="${restauration.repas}"></td>
                                <td th:text="${restauration.montant_resto}  + ' €'"></td>
                                <td th:text="${restauration.nom_fichier_resto}"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
