<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <title>Menu des déclaration de frais</title>
</head>
<body>
<br/>
<center><h1>Menu des déclaration de frais</h1></center>
<br/><br/>
<div align="center">
    <a th:href="@{'/declaration'}"><h3>Créer une déclaration</h3></a><br/><br/>
    <a th:href="@{'/declaration'}"><h3>Liste des déclarations</h3></a><br/><br/>
    <a th:href="@{'/'}">
        <h5>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Se déconnecter et quitter l'application" class="btn btn-danger" />
        </form>
    </h5></a>
</div>
</body>