<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../includes/styles.css" rel="stylesheet">
    <title>Détail de la formation</title>
</head>

<body>
    <header th:include="flows/declaration/MenuDeclaration :: menu"></header>
    <h1>Detail Formation</h1>
    </div>
</body>

</html>