<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/includes/styles.css" rel="stylesheet">
    <title>Détail de la formation</title>
</head>

<body>
    <nav>
        <div style="background-color: rgb(190, 190, 190); top: 0px; width: 100%;">
            <br>
            <h1 style="margin-left: 30px;">Votre déclaration de frais annexes</h1>  
            <h4>Ref Dossier: <span th:text="${refDossier}"></span></h4>
            <a th:href="@{ 'MenuApplication'}" class="btn btn-primary return-button">Revenir au menu</a>
            <br>
        </div>
        <div class="menu-container">
            <div class="circle-actuel"><a th:href="@{ ${flowExecutionUrl} + '&_eventId=DetailFormation'}">1: Détail de la
                formation</a></div>
            <div class="circle"><p>2: Frais de transport</p></div>
            <div class="circle"><p>3: Frais d'hébergement</p></div>
            <div class="circle"><p>4: Frais de restauration</p></div>
            <div class="circle"><p>5: Coordonnées bancaires</p></div>
            <div class="circle"><p>6: Transmission</p></div>
            <div class="circle"><p>7: Récapitulatif</p></div>
        </div>
        <hr class="hr-menu-flow">
    </nav>
    <div class="corps-page">
        <div>
            <br>
            <h2 style="margin-top:20px;">Etape 1: Détails de la formation</h2>
            <br>
            <hr>
        </div>
            <form th:action="@{${flowExecutionUrl} + '&_eventId=FraisTransport'}" method="post">
                <div>
                    <label for="intitule">Intitulé:</label>
                    <input type="text" id="intitule" name="intitule" th:value="${intitule}" style="margin-left: 0px" required>
                </div>
                <div>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" th:value="${date}" required>
                    <script>
                        var today = new Date().toISOString().split('T')[0];
                        document.getElementById('date').setAttribute('max', today);
                    </script>
                </div>                
            <div>
                <label for="lieu">Lieu:</label>
                <input type="text" id="lieu" name="lieu" th:value="${lieu}" style="margin-left: 0px;" required>
            </div>
            <button type="submit" class="btn btn-primary etape">Etape suivante</button>
        </form>
    </div>
    </div>
</body>

</html>