<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Frais de restauration</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/includes/styles.css" rel="stylesheet">
</head>

<body>
    <div style="background-color: rgb(190, 190, 190); top: 0px; width: 100%;">
        <br>
        <h1 style="margin-left: 30px;">Votre déclaration de frais annexes</h1>
        <h4>Ref Dossier: <span th:text="${refDossier}"></span></h4>
        <a th:href="@{ 'MenuApplication'}" class="btn btn-primary return-button">Revenir au menu</a>
        <br>
    </div>
    <div class="menu-container">
        <div class="circle-fini"><a th:href="@{ ${flowExecutionUrl} + '&_eventId=detailformation'}">1: Détail de la
                formation</a></div>
        <div class="circle-fini"><a th:href="@{ ${flowExecutionUrl} + '&_eventId=FraisTransport'}">2: Frais de
                transport</a>
        </div>
        <div class="circle-fini"><a th:href="@{ ${flowExecutionUrl} + '&_eventId=FraisHebergement'}">3: Frais
                d'hébergement</a></div>
        <div class="circle-actuel">
            <a th:href="@{ ${flowExecutionUrl} + '&_eventId=FraisRestauration'}">4: Frais de restauration</a>
        </div>
        <div class="circle">
            <p>5: Coordonnées bancaires</p>
        </div>
        <div class="circle">
            <p>6: Transmission</p>
        </div>
        <div class="circle">
            <p>7: Récapitulatif</p>
        </div>
    </div>
    <hr class="hr-menu-flow">
    </nav>
    <div class="corps-page" style="padding-bottom: 20px;">
        <div>
            <br>
            <h2 style="margin-top:20px;">Etape 4: Frais de restauration</h2>
            <br>
            <hr>
        </div>
        <h3>Avez-vous des frais de restaurations ?</h3>
        <br>
        <form th:action="@{${flowExecutionUrl} + '&_eventId=CoordonneesBancaires'}" method="post"
            class="form-restauration" id="form-restauration">
            <select name="type_restauration" class="btn btn-restauration" id="type_restauration">
                <option value="Aucun frais de restauration">Aucun frais de restauration: Je n'ai aucun justificatif pour
                    des frais de
                    restauration</option>
                <option value="Frais declares">Déclarer des frais de restauration: J'ai des factures de restaurations
                    à déclarer</option>
            </select>
            <br>
            <div id="fichier_restauration" style="display: none; margin-top: 10px;">
                <button type="button" class="btn-primary" onclick="ouvrirPopup()">Ajouter un frais de
                    restauration</button>
            </div>

            <div id="popup"
                style="display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: lightgray; padding: 20px; border: 2px solid black; max-width: 400px;">
                <center>
                    <h4>Repas</h4>
                </center>
                <select id="repas" style="width: 100%; height: 50px;" onchange="choixRepas(this.value)">
                    <option disabled selected value="">Choisir le repas concerné</option>
                    <option value="petit-dejeuner">Petit-déjeuner du <span th:text="${date}"></span></option>
                    <option value="dejeuner">Déjeuner du <span th:text="${date}"></span></option>
                    <option value="diner">Dîner du <span th:text="${date}"></span></option>
                </select><br><br>

                <!-- Montant de la restauration -->
                <div id="montant_petit_dejeuner" style="display: none;">
                    <center>
                        <h4>Montant du petit-déjeuner</h4>
                    </center>
                    <input type="text" id="montant_petit_dejeuner" name="montant_petit_dejeuner"
                        th:value="${montant_petit_dejeuner}" style="margin-left: 0px" required><br>
                </div>
                <div id="montant_dejeuner" style="display: none;">
                    <center>
                        <h4>Montant du dejeuner</h4>
                    </center>
                    <input type="text" id="montant_dejeuner" style="margin-bottom: 10px; margin-left: 0px;"><br>
                </div>

                <div id="montant_diner" style="display: none;">
                    <center>
                        <h4>Montant du diner</h4>
                    </center>
                    <input type="text" id="montant_diner" style="margin-bottom: 10px; margin-left: 0px;"><br>
                </div>

                <!-- Téléverser la facture justificative -->
                <div id="facture_petit_dejeuner" style="display: none;">
                    <center>
                        <h4>Téléverser la facture justificative</h4>
                    </center>
                    <center>
                        <input type="file" id="facture_petit_dejeuner" accept=".pdf, .jpg, .png"
                            style="margin-bottom: 20px; margin-left: 0px;"><br>
                    </center>
                </div>
                <div id="facture_dejeuner" style="display: none;">
                    <center>
                        <h4>Téléverser la facture justificative</h4>
                    </center>
                    <center>
                        <input type="file" id="facture_dejeuner" accept=".pdf, .jpg, .png"
                            style="margin-bottom: 20px; margin-left: 0px;"><br>
                    </center>
                </div>
                <div id="facture_diner" style="display: none;">
                    <center>
                        <h4>Téléverser la facture justificative</h4>
                    </center>
                    <center>
                        <input type="file" id="facture_diner" accept=".pdf, .jpg, .png"
                            style="margin-bottom: 20px; margin-left: 0px;"><br>
                    </center>
                </div>

                <center>
                    <button onclick="fermerPopup()" style="margin-right: 10px;">Fermer</button>
                    <button onclick="validerRestauration(event)"
                        style="background-color: green; color: white;">Valider</button>
                </center>
            </div>
            <button type="submit" class="btn btn-primary etape">Etape suivante</button>
        </form>

        <!-- Script -->
        <script>
            document.getElementById('type_restauration').addEventListener('change', function () {
                var uploadField = document.getElementById('fichier_restauration');
                if (this.value === 'Frais declares') {
                    uploadField.style.display = 'block';
                } else {
                    uploadField.style.display = 'none';
                }
            });

            function validerRestauration() {
                document.getElementById("popup").style.display = "none";
                fermerPopup();
            }

            function choixRepas(selectedRepas) {
                var montant_petit_dejeuner = document.getElementById('montant_petit_dejeuner');
                var facture_petit_dejeuner = document.getElementById('facture_petit_dejeuner');
                var montant_dejeuner = document.getElementById('montant_dejeuner');
                var facture_dejeuner = document.getElementById('facture_dejeuner');
                var montant_diner = document.getElementById('montant_diner');
                var facture_diner = document.getElementById('facture_diner');

                if (selectedRepas === 'petit-dejeuner') {
                    montant_petit_dejeuner.style.display = 'block';
                    facture_petit_dejeuner.style.display = 'block';
                    montant_dejeuner.style.display = 'none';
                    facture_dejeuner.style.display = 'none';
                    montant_diner.style.display = 'none';
                    facture_diner.style.display = 'none';
                } else if (selectedRepas === 'dejeuner') {
                    montant_petit_dejeuner.style.display = 'none';
                    facture_petit_dejeuner.style.display = 'none';
                    montant_dejeuner.style.display = 'block';
                    facture_dejeuner.style.display = 'block';
                    montant_diner.style.display = 'none';
                    facture_diner.style.display = 'none';
                } else if (selectedRepas === 'diner') {
                    montant_dejeuner.style.display = 'none';
                    facture_dejeuner.style.display = 'none';
                    montant_petit_dejeuner.style.display = 'none';
                    facture_petit_dejeuner.style.display = 'none';
                    montant_diner.style.display = 'block';
                    facture_diner.style.display = 'block';
                }
                else {
                    montant_petit_dejeuner.style.display = 'none';
                    facture_petit_dejeuner.style.display = 'none';
                    montant_dejeuner.style.display = 'none';
                    facture_dejeuner.style.display = 'none';
                    montant_diner.style.display = 'none';
                    facture_diner.style.display = 'none';
                }
            }


            function ouvrirPopup() {
                document.getElementById("popup").style.display = "block";
            }

            function fermerPopup() {
                document.getElementById("popup").style.display = "none";
                //event.preventDefault();
            }

            function supprimerFraisResto(index) {
                fraisRestoInfos.splice(index, 1);
            }
        </script>

    </div>
</body>

</html>