<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Menu de déclaration</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/includes/styles.css" rel="stylesheet">
</head>

<body>
    <nav>
        <div style="background-color: rgb(190, 190, 190); top: 0px; width: 100%;">
            <br>
            <h1>Votre déclaration de frais annexes</h1>
            <h4>Ref Dossier: </h4>
            <a th:href="@{ 'MenuApplication'}" class="btn btn-primary return-button">Revenir au menu</a>
            <br>
        </div>
        <div class="menu-container">
            <div class="circle"><p>1: Détail de la formation</p></div>
            <div class="circle"><p>2: Frais de transport</p></div>
            <div class="circle"><p>3: Frais d'hébergement</p></div>
            <div class="circle"><p>4: Frais de restauration</p></div>
            <div class="circle"><p>5: Coordonnées bancaires</p></div>
            <div class="circle"><p>6: Transmission</p></div>
            <div class="circle"><p>7: Récapitulatif</p>
            </div>
        </div>
        <hr class="hr-menu-flow">
    </nav>
    <center>
        <form th:action="@{ ${flowExecutionUrl} + '&_eventId=detailformation'}" method="post">
            <button type="submit" class="btn btn-success success-button">Préparer votre déclaration</button>
        </form>
    </center>
</body>

</html>